<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css.css">
  <title>DELETARRRR</title>
</head>
<body>
  <% pessoas.forEach((pessoas) => { %>
    <div class="list">
      <div>
        <%= pessoas.nome %>
      </div>
      <div class="action">
       
        <form method="post" action="/pessoas/deletar">
          
          <button action="/pessoas/deletar" type="submit" name="id" value="<%= pessoas.id %>">Delete</button>
           
        </form>
      </div>
    </div>
<% }) %>
</body>
</html>

